# Object files
#*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

test*
output*
*.zip

sample

__inputFile__
__outputFile__
__stdOutputFile__
tmpConfig
temp
long_running
text.c